<!-- </body>
<footer>
    <div class="card">
        <div class="card-body">
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</footer> -->


</body>
<footer style="display: flex; justify-content: center; align-items: center; height: 100px;">
    <div class="card">
        <div class="card-body">
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</footer>

</html>

</html>