<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Partials Demo
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- adding css to this particular ejs file through link tag -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- needs to add both bootstap.min.js and jquery.js without jquery we get a error in the console -->
</head>

<body>